<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93070934-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:mohit1007@gmail.com" target="_blank">Email</a></li>
   <li><a href="https://github.com/ensemblearner" target="_blank">github.com/ensemblearner

   </a></li>
   <li>
     <a href="https://github.com/ensemblearner" target="_blank">
  <img src="https://raw.githubusercontent.com/ensemblearner/ensemblearner.github.io/master/assets/GitHub-Mark-Light-120px-plus.png" width="100%" height="144">
</a>
   </li>
   </ul>
  </footer>
  </body>

</html>